* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to left, rgb(23, 107, 93), rgb(41, 41, 124));
}

h1 {
    text-align: center;
    color: white;
    margin: 20px auto 30px auto;
}

#container {
    margin: auto;
    background-color: rgba(0, 0, 0, 0.692);
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 46px;
}

#result-container {
    background-color: transparent;
    width: 100%;
    height: 70px;
    margin: 0 auto 10px auto;
    border-radius: 10px;
    border: solid #4D4DFF 1px;
    padding: 10px;
}

#result {
    text-align: right;
    color: white;
    font-size:2.4rem;
}

.button {
    width: 65px;
    height: 65px;
    font-size: 2rem;
    border: solid #4D4DFF 1px;
    margin: 2px;
    color: white;
    background-color: transparent;
}

button:hover {
    border: none;
    background-color: rgba(77, 77, 255, 0.600);
}

button:active {
    border: solid #4D4DFF 1px;
}

.pink {
    border: solid #c93dc9 1px;
}

.pink:hover {
    border: none;
    background-color: rgba(201, 61, 201, 0.600);
}

.pink:active {
    border: solid #c93dc9 1px;
}

.equal {
    height: 136px;
}

.zero, .c {
    width: 136px;
}

footer {
    background-color: rgb(0, 0, 0, 0.692);
    text-align: center;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

em {
    color:#9090c2;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    color: #4D4DFF;
}

a:hover {
    color:#3838c2;
}